services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=yourStrong(!)Password
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  nopcommerce:
    image: nopcommerceteam/nopcommerce:latest
    depends_on:
      - sqlserver
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_URLS=http://+:80
    volumes:
      - nop_appdata:/app/App_Data

volumes:
  sql_data:
  nop_appdata:
